node_modules
.env
.DS_Store
dist
*.log
.vercel
package-lock.json
client/node_modules
server/node_modules
server/.env
client/dist
.vscode
.idea
.npm-cache
npm-cache
tmp-npm
api/.npm_cache
**/node_modules
**/.npm_cache
scratch
*.icloud
