PORT=3001
DATABASE_URL="postgresql://username:password@localhost:5432/prettyb2b?schema=public"

# Google Sheets Config
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_PRIVATE_KEY=""
GOOGLE_SHEET_ID=""

# Shopify Config
SHOPIFY_SHOP_NAME=""
SHOPIFY_ADMIN_API_ACCESS_TOKEN=""
SHOPIFY_WEBHOOK_SECRET=""

# Geocoding API (e.g., PositionStack, Google Maps, OpenStreetMap)
GEOCODING_API_KEY=""
